body {

    background-color: antiquewhite;
    box-sizing: border-box;
    font-family: serif;
    padding: 0;
}

.form {
    width: 400px;
    min-width: 400px;
    height: 500px;
    margin: 50px auto;
    background: #3B2E42;
    border-radius: 15px;
    padding: 20px;
    padding-left: 100px;
}

.header {
    height: 20%;
    text-align: center;
}

.leftForm {
    float: left;
    width: 15%;
}

.rightForm {
    float: left;
    width: 350px;

}