body {
    background-color: antiquewhite;
    box-sizing: border-box;
    font-family: serif;
    padding: 0;
}

.sidebar {
    width: 200px;
    float: left;
    margin: 10px;
}

.logo {
    text-align: left;
    padding: 20px;
    float: left;
    width: 10px;
    height: 10px;
}

.search_form {
    padding: 20px;
    text-align: left;
}

.table {
    font-size: 13px;
}

.column {
    width: 400px;
    height: 100px;
}

.picture {
    width: 150px;
    height: 100px;
}

.reference {
    margin:10px;
}

/*.caption{*/
    /*text-align: center;*/
/*}*/

.float{
    width: 600px;
    float: left;
}

.list{
    column-count: 2;
    height: 150px;

}